.dev-menu button, .dev-menu input {
    @apply border border-gray-500 p-1;
    @apply rounded;
}

.titlebar {
    position: absolute;
    top: 0;
    right: 0;
    
    width:100%;

    display: flex;
    flex-direction: row;
    padding: var(--titlebar-padding);
    justify-content: flex-end;
    background-color: transparent;
    z-index: 99999;

    -webkit-app-region: drag;

    color: #000;
}

.titlebar * {
    font-family: sans-serif;
}

.titlebar > button {
    cursor: pointer;
    width: var(--titlebar-icon-size);
    height: var(--titlebar-icon-size);
    -webkit-app-region: no-drag;
    transition: 250ms ease;

    padding: 0;
    border: none;
    background: transparent;
} 

.titlebar > * + * {
    margin-left: 1rem;
}

.titlebar > #minimize:hover{
    transform: scale(1.3);
    color: #2f6df1;
    -webkit-app-region: no-drag;
}

.titlebar > #maximize:hover{
    transform: scale(1.3);
    color: #eeb437
}

.titlebar > #close:hover{
    transform: scale(1.3);
    color: #FF0000;
    -webkit-app-region: no-drag;
}

.titlebar > #open-dev-menu:hover {
    transform: scale(1.3);
    -webkit-app-region: no-drag;
}

.titlebar > .dev-menu {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    backdrop-filter: brightness(0.5);

    padding: 10rem;
    margin: 0;

    -webkit-app-region: no-drag;
}

.titlebar > .dev-menu > .dev-menu-content {
    background: #fff;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.5rem 0.25rem #0001;
    padding: 1rem 2rem;

    overflow-y: auto;

    -webkit-app-region: no-drag;
}

.titlebar > .dev-menu > .dev-menu-content > * + * {
    margin-top: 1rem;
}

.titlebar > .dev-menu > .dev-menu-content input {
    padding: 0;
    height: initial;
    width: initial;
}
