@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "styles/fonts.css";

@layer utilities {
  .no-drag {
    -webkit-app-region: no-drag;
  }
  .drag {
    -webkit-app-region: drag;
  }
}

div, button, img, span {
  @apply select-none;
}

* {
  @apply selection:bg-gray-600 selection:text-white;
  @apply dark:selection:bg-neutral-300 dark:selection:text-black;
  @apply focus:outline-none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
  --titlebar-padding: 0.5rem;
  --titlebar-icon-size: 1rem;
  --titlebar-height: calc(2 * var(--titlebar-padding) + var(--titlebar-icon-size));
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'HarmonyOS Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

#root {
  @apply w-[100vw] h-[100vh];
}

#app {
  @apply w-[100vw] h-full;
  @apply no-drag;
}

