@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "styles/fonts.css";

@layer utilities {
  .no-drag {
    -webkit-app-region: no-drag;
  }
  .drag {
    -webkit-app-region: drag;
  }
}

* {
  @apply selection:bg-sky-600 selection:text-white;
}

div, button, img {
  @apply select-none;
}

html {
  --titlebar-padding: 0.5rem;
  --titlebar-icon-size: 1rem;
  --titlebar-height: calc(2 * var(--titlebar-padding) + var(--titlebar-icon-size));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-[100vw] h-[100vh];
}

#app {
  @apply w-[100vw] h-full;
  @apply no-drag;
}

