html {
  --titlebar-padding: 0.5rem;
  --titlebar-icon-size: 1rem;
  --titlebar-height: calc(2 * var(--titlebar-padding) + var(--titlebar-icon-size));
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  -webkit-app-region: no-drag;
}

.titlebar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  -webkit-app-region: drag; 
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.buttons{
  top: 0;
  right: 0.125rem;
  display: flex;
  flex-direction: row;
  padding: var(--titlebar-padding);

  background-color: transparent;
  z-index: 9000;

  -webkit-app-region: no-drag;
}

.buttons > * {
  cursor: pointer;
  width: var(--titlebar-icon-size);
  height: var(--titlebar-icon-size);

  transition: 250ms ease;
} 

.buttons > * + * {
  margin-left: 1rem;
}

.buttons > #minimize:hover{
  transform: scale(1.3);
  color: #2f6df1;
  -webkit-app-region: no-drag;
}

.buttons #maximize:hover{
  transform: scale(1.3);
  color: #eeb437
}

.buttons #close:hover{
  transform: scale(1.3);
  color: #FF0000;
  -webkit-app-region: no-drag;
}


.cover{
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1em;
  /* box-shadow: 0 0.0188em 1.350em rgb(156, 156, 156); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-app-region: drag;
}

.loginCover{
  background-color: white;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.0188em 1.350em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  -webkit-app-region: drag;
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

/* Define the fade-out animation */
@keyframes fadeOut {
from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

/* Define the minimize animation */
@keyframes minimize {
from {
  transform: scale(1);
}
to {
  transform: scale(0);
}
}

#app{
  align-items: center;
  justify-content: center;
  display: flex
}


/* Define the transition for the minimize animation */
#app.minimized {
  animation: minimize 0.2s ease forwards;
}

/* Define the transition for the close animation */
#app.closed {
  animation: fadeOut 0.2s ease forwards;
}

#app.maximized{
  position: absolute;
  transition: all 0.15s ease;
  width: 100vw;
  height: 100vh;}

#app.unmaximized {
  position: relative;
  transition: all 0.15s ease;
  width: var(--dynamic-width); /* Replace with your original width */
  height: var(--dynamic-height); /* Replace with your original height */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
