.container {
    position: relative;
    display: flex;  
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-app-region: no-drag;

    color: rgb(17, 38, 60);
}

.content-wrapper{
    @apply relative flex flex-row;
    @apply h-full w-full;
    @apply no-drag;
}

.nav-aside {
    @apply flex flex-col justify-between;
    @apply h-full p-4;
    @apply min-w-[17.5rem];
    @apply drag;
}

.nav-list {
    @apply p-0;
    @apply space-y-2;
    @apply no-drag;
}

.org-name-wrapper {
    @apply w-full;
    @apply flex items-center justify-between;
}

.org-title-wrapper {
    @apply flex items-center;
    @apply gap-3;
}

.org-name-wrapper .org-avatar {
    @apply rounded-xl;
    @apply h-12 w-12;
    @apply bg-gray-200;
}

.org-name-wrapper .org-name {
    @apply font-semibold;
    @apply text-lg;
}

.org-name-wrapper .aside-collapse {
    @apply no-drag;

    @apply h-8 w-8;
    @apply p-2;
    @apply rounded-lg;
    @apply transition duration-100;

    @apply hover:bg-gray-200;
    @apply focus:ring focus:ring-gray-100;
}

.nav-list > li > button {
    @apply rounded-xl;
    @apply bg-transparent;
    @apply transition duration-75;

    @apply flex flex-row items-center;
    @apply w-full px-4 py-2;

    @apply hover:bg-gray-50;

    @apply focus:outline-gray-400;
}

.nav-list > li > button.selected {
    background-color: #39c5bb;
    /* background: #2563eb; */
    color: #fff;
}

.icon {
    @apply mr-2 flex;
}

.icon > svg {
    @apply w-4 h-4;
}

.title {
    @apply text-sm;
}

.section-page {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.section-page-header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

    padding: var(--titlebar-height) 1rem 0.5rem 2rem;

    -webkit-app-region: drag;
}

.persona-dropdown, .persona-dropdown:hover {
    display: flex;
    padding: 0;
    align-items: center;
    overflow: hidden;    
    border-radius: 999px;
    border: solid 1px #eee;
    background: transparent;
    
    cursor: pointer;

    -webkit-app-region: no-drag;
}

.persona-dropdown > img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 999px;
}

.persona-info {
    opacity: 0;
    position: absolute;
    right: 3rem;

    z-index: 10;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    border: solid 1px #eee;

    max-width: 20rem;
}

.persona-info * {
    font-family: sans-serif;
}

.persona-dropdown:hover + .persona-info {
    display: block;
    opacity: 1;
}

.persona-info > .persona-name {
    font-weight: bold;
}

.persona-info > .persona-hint {
    font-size: 0.75rem;
}

.persona-info > .persona-description {
    margin-top: 1rem;
}

.section-page-content {
    position: relative;
    display: flex;
    /* background-color: #a7a7a723; */
    height: 0;
    flex:1
}

.background-image{
    position: absolute;
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0.3;
    z-index: 0;
}

@keyframes blur {
    0%{
        opacity: 0;
    }      
    
    100% {
        opacity: 1;
    }
  }

  @keyframes noblur {
    0%{
        backdrop-filter: blur(18px);
        opacity:1;
    }      
    
    100% {
        backdrop-filter: blur(0px);
        opacity: 0;
    }
  }

.persona-selection-container {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.persona-selection-container > .persona-selection-title {
    margin-bottom: 2rem;
}

.persona-selection-container.persona-selection-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(18px);
    opacity: 1;
    animation: blur 500ms ease forwards;
}

.persona-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 50%;
    min-width: 32rem;
}

.persona-list > * + * {
    margin-left: 0.5rem;
}

.persona-list > .persona-item {
    cursor: pointer;
    padding: 0.5rem;
}

.persona-list > .persona-item > .persona-item-avatar {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border: solid 1px #bbb;
    border-radius: 999px;

    transition: 250ms ease;
}

.persona-list > .persona-item > .persona-item-name {
    font-size: 0.75rem;
    text-align: center;
}

.persona-list > .persona-item:hover > .persona-item-avatar {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transform: translateY(-0.25rem);
}

.persona-list > .persona-item-selected > .persona-item-avatar {
    border: solid 2px #2563eb;
}

.persona-list > .persona-item-selected > .persona-item-name {
    font-weight: bold;
}
