/* @font-face { */
/*     font-family: "CustomFont"; */
/*     src: url("../fonts/RolexLight.woff2");  */
/* } */

.login-page-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(82,107,96,1) 0%, rgba(135,140,150,1) 100%);

    position: relative;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    -webkit-app-region: drag;

    overflow: hidden;
}

.login-page-container .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.login-page-container .content-wrapper > #logo {
    position: absolute;
    left: 2rem;
    top: 2rem;
    font-size: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
}
.login-page-container .content-wrapper > #logo * + * {
    margin-left: 0.25rem;
}

.login-page-container .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 22rem;
}

.login-page-container .login-section .login-title {
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0px 3px 3px #0007;
}

.login-page-container .login-section input,
.login-page-container .login-section button,
.login-page-container .login-section a {
    -webkit-app-region: no-drag;
}

.login-page-container .login-section a {
    text-decoration: underline;
}

.login-page-container .login-section * + * {
    margin-top: 1.5rem;
}

.login-page-container .login-section div {
    position: relative;
    width: 100%;
}

.login-page-container .login-section input {
    padding: 2.5rem 2rem 1.5rem 2rem;
    border-radius: 999px;
    background: #3a3e46;
    border: none;
    outline: none;
    color: #fff;

    width: 100%;
}

.login-page-container .login-section input + label {
    position: absolute;
    left: 2rem;
    transition: top 80ms ease-out 0s, font-size 100ms ease-out 10ms;
    top: 0.5rem;
    pointer-events: none;

    color: #bababa;
}

.login-page-container .login-section input:focus + label,
.login-page-container .login-section input:not(:placeholder-shown) + label {
    font-size: 0.5rem;
    top: -0.25rem;
}

.login-page-container .login-section .signin-btn {
    border: none;
    background: #3f8e40;
    font-size: 2rem;
    color: white;
    padding: 1rem;
    border-radius: 999px;
    width: 100%;

    cursor: pointer;

    box-shadow: 0px 3px 3px 1px #0004;
}

.login-page-container .login-section .forgot-password {
    margin-top: 2rem;
}

.right-section {
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    position: relative;
}

.abstract-art {
    transform: rotate(30deg);
    scale: 0.9;
}

.security-key-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    margin-left: 6rem;
    color: #000;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    position: absolute;
    bottom: 0;
}

.security-key-status > .security-key-status-icon {
    display: block;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}
